.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.5s linear;
  }
}
.Registration {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #007bff;
  background-color: #f0f8ff;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.App-header {
  background-color: #e8ecf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

